.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; 
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
.header-nav{
    display:flex;
     gap:590px;
    align-items:center;
}
.header-margin{
    margin:30px 150px 120px 150px;
}
.nav-ul{
   list-style:none;
    display:flex ;
    text-align:center;
    gap:48px;
}
nav a{
    color:rgba(137, 135, 161, 1);
    text-decoration:none;
}

.li-home{
    font-weight:700;
    color:rgba(37, 36, 50, 1)
}
.list-items{
    font-weight:400;
    color:rgba(137, 135, 161, 1);
    
}
#list-color{
    color:#000000;
}
.header-items{
    display:flex;
}
.items-tittle{
    font-weight:700;
    font-size:4rem;
    color:#000000;
    margin-bottom:13px;

}
#items-tittl{
    color:#E95A08;
}
.header-img{
    width:570px;
}
.items-content{
    font-weight:400;
    font-size:1.37rem;
    color:rgba(0, 0, 0, 0.5);
}
.list-items-cart{
    font-weight:400;
    color:rgba(137, 135, 161, 1);
}
.card-section{
    margin:auto 150px 0px 150px;
}
.card-details{
    text-align:center;
}
.card-tittle{
    font-weight:700;
    font-size:3.125rem;
    margin-bottom:1rem;
}
.card-content{
    font-weight:400;
    font-size:1.5rem;
    color:rgba(0, 0, 0, 0.5);
    margin-bottom:39px;
}
#Our{
    color:rgba(233, 90, 8, 1);
}
.all-card{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px 22px;
}
.card-header{
    font-weight:500;
    font-size:1.4rem;
    text-align:center;
    margin-bottom:22px ;
}
.card-img{
    width:100%;
}
.card-price{
    font-weight: 700;
    font-size: 1.4rem;
    text-align:center;
    margin-bottom:30px ;
}
.btn-primary{
    background-color:rgba(233, 90, 8, 1);
    color:rgba(255, 255, 255, 1);
    padding:19px 80px;
    border:none;
    font-weight:500;
    font-size:1rem;
    width:100%;
}
.challenge-section{
    display:flex;
    gap:60px;
}
.nothing{
    margin:0px 150px 83px 150px;
}
.add-icon img{
    width:286px;
    height:286px;
    position:relative;
    right:-347px;
    top:159px;
}
.challenge-tittle{
    font-weight:700;
    font-size:3.125rem;
   color:rgba(0, 0, 0, 1);
}
.list-details{
    font-weight: 400;
    font-size:1.4rem;
     color:rgba(0, 0, 0, 0.5);
     
     margin-bottom:20px;
}
.br-cha{
    display:inline;
}
.latest-deal{
    margin:130px 150px 120px 150px;
    text-align:center;
}
.deal-tittle{
    font-weight:700;
    font-size:3.125rem;
    color:rgba(0, 0, 0, 1);
    margin-bottom:16px ;
}
#deal-latest{
    color:rgba(233, 90, 8, 1);
}
.deal-details{
    color:rgba(0, 0, 0, 0.5);
    font-weight:400;
    font-size:1.4rem;
}
.deal-bg-img{
    margin-top:120px ;
    display:flex;
    gap:28px;
    justify-content:center;
}
.small-bg-details1{
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../assets/deal-bloom.png');
    background-repeat:no-repeat;
    width:366px;
    height:200px;
    border-radius:22px;
    display: flex;
    flex-direction:column;
      align-items: center;   
      justify-content: center; 
      text-align: center;
      margin-bottom:20px;
}
.small-bg-details2{

    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../assets/deal-ana.png');
    background-repeat:no-repeat;
    width:366px;
    height:200px;
    border-radius:22px;
     display: flex;
    flex-direction:column;
      align-items: center;   
      justify-content: center; 
      text-align: center;
}
.large-bg{
   background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../assets/deal-zabo.png');
    background-repeat:no-repeat;
    width:753px;
    height:420px;
    border-radius:22px;
     display: flex;
    flex-direction:column;
      align-items: center;   
      justify-content: center; 
      text-align: center;
    
}
.deal1{
   
     font-weight:700;
     font-size:1.25rem;
     color:rgba(255, 255, 255, 1);
     
}
.deal2{
    font-weight:700;
     font-size:2.5rem;
     color:rgba(255, 255, 255, 1);
     margin-bottom:5px;
}
.anchor{
    font-weight:500;
    font-size:1rem ;
    color:white;
}
.anchor1{
    font-weight:600;
    font-size:1.4rem ;
    color:white;
}
.input-field{
    
    background-image: url('../assets/news-letter-bg.png');
    background-repeat: no-repeat;
    width:100%;
    height:543px;
     display: flex;
    flex-direction:column;
      align-items: center;   
      justify-content: center; 
      text-align: center;

}
.input-field-header{
    color:rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size:3.125rem;
}
#input-email{
    width:400px;
    height:25px;
    padding:15px 350px 15px 20px;
}
.btn-primary-last{
    background: #E95A08;
    color:white;
    padding:19px 53px 19px 53px;
    font-weight:500;
    font-size:1rem;
    border:none;
}
.main-footer{
    margin:50px 160px;
    display:flex;
    

}
.main-footer > div:nth-child(1) {
    flex: 2; 
}

.main-footer > div:not(:first-child) {
    flex: 1; 
}

.logo-footer-details{
    font-weight:400;
    font-size:1.375rem;
    color:rgba(0, 0, 0, 0.5);
}
.footer-ul{
    list-style:none;
    display:grid;
    gap:48px;
}
footer li a{
    text-decoration:none;
    color:gray;
}
.footer-link img {
    margin-right: 20px;
}

.footer-link img:last-child {
    margin-right: 0;
}

@media screen and (max-width:576px)
{ 
    nav img{
    width: 80px;
    height:45px;
}
    .li-home{
        display:none;
    }
    .display-none{
        display:none;
    }
    .header-items{
        flex-direction: column-reverse;
    }
    .header-img{
        width:100%;
    }
    .header-margin{
        margin:0px;
    }

    .header-nav{
       width:100%;
       display:flex;
       gap:170px;
       margin:0px 16px;
    }
    #list-color01{
        margin-left:0px;
    }
    .items-tittle{
        font-size:24px;
    }
    .items-content {
        font-size:14px;
    }
    .card-section{
        margin:5px;
    }
    .card-tittle{
        font-size:1.5rem;
    }
    .card-content{
        font-size:0.875rem;
    }
    .all-card{
        grid-template-columns:repeat(2,1fr)
    }
    .btn-primary{
         padding:10px 15px;
    }
    .add-icon{
        display:none;
    }
    .challenge-tittle{
        font-size:1.5rem ;
    }
    .challenge-section{
        flex-direction:column;
        gap:10px;
    }
    .list-details{
        font-size: 0.9rem ;
    }
    .nothing{
        margin:40px 5px 5px 5px;
    }
    .img-challenge img{
        width:100%;
    }
    .br-cha{
        display:none;
    }
    .latest-deal{
        margin:5px;
    }
    .deal-tittle{
        font-size:1.5rem ;
        margin-bottom:16px ;
    }
    .deal-details{
        font-size:.88rem;
    }
    .deal-bg-img
    {  
        margin-top:51px ;
        flex-direction:column;
    }
    .small-bg-details1,.small-bg-details2,.large-bg{
        width: 100%;
        height:180px;
        background-size:100%;
    }
    .deal1,.deal2{
         font-weight:700;
     font-size:1.25rem;
     color:rgba(255, 255, 255, 1);
    }
    .anchor,.anchor1{
         font-weight:500;
    font-size:1rem ;
    color:white;
    }
    #details2{
        border-radius:0px;
    }
    .input-field{
        height:243px;
        margin-top:30px;
    }
    #input-email{
    font-size:1rem;
    width:150px;
    height:40px;
    padding:10px 150px 10px 15px;
}
  .input-field-header{
    font-size:1.5rem;
}
.btn-primary-last{
    padding:20px 20px 20px 20px;
    font-weight:500;
    font-size:1.2rem;
    border:none;
}
  .main-footer{
    margin:50px 15px 20px 15px;
    flex-direction:column;
  }
  .anchor-footer-01,.anchor-footer-02{
   margin-left:15px;
  }
}
